.descripcionSection {
  display: flex;
  flex-direction: column;
  justify-content: center; }

#containerUno {
  grid-area: containerUno;
  display: flex;
  flex-direction: row; }

#containerDos {
  grid-area: containerDos;
  display: flex;
  flex-direction: row-reverse; }

.descripcionSectionBody {
  display: block; }

img.descripcionSectionImg {
  height: 250px;
  width: 250px;
  margin: auto 20px; }

@media (max-width: 600px) {
  #containerUno, #containerDos {
    flex-direction: column; }
  img.descripcionSectionImg {
    margin: 20px auto; }
  .titulo {
    text-align: center; }
  .descripcionSectionBody p {
    text-align: justify; } }
