//VARIABLES
$primary-nav-footer-color: #023047;
$nav-font-color: #ffffffb9;
$nav-hover-font-color: white;
$footer-font-color: white;

@import "mixins";
@import "maps";

//SCSS
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	font-family: 'Raleway', sans-serif;
	display: flex;
	flex-flow: column;
	height: 100vh;
}
hr.separador {
    margin: 15px 0px;
}

// LAYOUT
main {
    width: 90%;
	margin: 20px auto;
	flex: 1 1 auto;
}
header {
    flex: 0 1 auto;
}
footer {
    flex: 0 1 auto;
	background-color: $primary-nav-footer-color;
}

//NAVBAR
nav {
    background-color: $primary-nav-footer-color;
}
#navbarHeader {
	padding-top: 2px;
	padding-bottom: 2px;
}
#navbarLogoImg {
	width: 47px;
}
#divCarritoNavbar {
	button {
		span {
			text-align: center;
		}
	}
}

//FOOTER
.footerContent {
	@include flex-dir-justify-align(row, space-around, null);
}
.footerContacto {
	@include flex-dir-justify-align(column, null ,center);
}
.footerIconsDiv {
	@include flex-dir-justify-align(row, center, null);
	flex-wrap: wrap;
}
.footerIcon {
	padding: 10px;
}
.linkFooter {
	text-decoration: none;
	color: $footer-font-color;
	font-weight: map-get($font-weights, "bold");
	font-size: 20px;
	&:hover {
		text-decoration: none;
		color: $footer-font-color;
		font-weight: map-get($font-weights, "bold");
		font-size: 20px;
	}
}
#iconFacebook {
	padding-left: 10px;
}
.linkSocialNetworkIcon {
	padding: 0px 20px 0px 10px;
	text-decoration: none;
	color: white;
	font-size: 15px;
	&:hover {
		padding: 0px 20px 0px 10px;
		text-decoration: none;
		color: white;
		font-size: 15px;
	}
}

//MEDIA QUERIES
@media (max-width: 992px) {
	.nav-link {
		&:hover {
			transform: none;
		}
	}
	#whatsappDiv {
		margin-top: 20px;
	}
}
@media (max-width: 576px) {
	.footerIconsDiv {
		margin-top: 30px;
		@include flex-dir-justify-align(column, flex-start, null);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
}